
@keyframes gradientAnimation {
  0% {
    background-image: linear-gradient(135deg, #ff0062, #00eeff);
  }
  50% {
    background-image: linear-gradient(135deg, #ff00f2, #059bff);
  }
  100% {
    background-image: linear-gradient(135deg, #2400f0, #ff00ff);
  }
}

.project-box {
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  animation: gradientAnimation 5s ease infinite;
}

.project-heading {
  font-weight: 900;
  text-align: center;
  font-size: 2.5rem;
  color: black;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-family: 'Roboto';
}

.main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.project-item {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0px 40px black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  text-align: center;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0px 25px whitesmoke;
}

.portfolio-image {
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
  max-width: 100%;
  height: auto;
}

.portfolio-image:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

h3 {
  font-size: 1.5rem;
  color: #f0a500;
  margin: 1rem 0;
  transition: color 0.3s ease;
}

h3:hover {
  color: #0070f3; 
}

p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

button {
  background-color: #f0a500;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .main-div {
    flex-direction: column;
    align-items: center;
  }
}
